<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<head>

    <!-- TITLE OF SITE -->
    <title>四川瀚伟彦科技有限公司</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Free Responsive Animated Portfolio Template" />
    <meta name="keywords" content="portfolio, template, responsive, bootstrap" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex">

    <!-- FAV AND TOUCH ICONS   -->
    <link rel="icon" href="./images/favicon.ico">
    <link rel="apple-touch-icon" href="./images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-touch-icon-114x114.png">

    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
    <!-- font-family: 'Merriweather', serif; -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!-- font-family: 'Open Sans', sans-serif; -->

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">

    <!-- Image Slider -->
    <link rel="stylesheet" href="./css/plagin-css/owl.carousel.css">

    <!-- FONT ICONS -->
    <link rel="stylesheet" href="./icons/rik-icons/styles.css">

    <!--   COUSTOM CSS link  -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">

    <!--[if lt IE 9]>
    <script src="./js/plagin-js/html5shiv.js"></script>
    <script src="./js/plagin-js/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- import Vue before Element -->
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
</head>
<body class="style-1">
<div id="app">

    <!-- Start: Preloader Section
       =================================== -->
    <div id="main-preloader" class="main-preloader semi-dark-background">
        <div class="container full-height">
            <div class="row full-height">
                <div class="full-height col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">

                    <div class="main-preloader-inner">

                        <h1 class="preloader-percentage">
                            <span class="preloader-percentage-text">0%</span> <!-- Show Percentage Number -->
                            <!-- <span class="percentage">%</span> -->
                        </h1>
                        <div class="preloader-bar-outer">
                            <div class="preloader-bar"></div> <!-- Percentage Precess Bar -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End: Preloader Section
    =================================== -->
    <!-- Start: Navbar  Area
        ============================= -->
    <nav class="navbar navbar-fixed-top main-navbar-top navbar-top-js" id="main-navbar-top" >
        <div class="container relative">
            <div class="navbar-header">



                <!-- TEMPLATE LOGO LIGHT -->
                <a class="navbar-brand light-logo btn-scroll" onclick="javascript:window.location.href='index'"><img src="images/logo.png" alt="" class="img-responsive"></a>

            </div>

            <!-- Main Menu List -->



            <!-- Right Side Navigation Button -->


        </div>
    </nav>
    <!-- End: Navbar Area
    ============================= -->
    <!--Start: 4th Section
        - TESTIMONIAL PAGE
    ====================================-->
    <div class=" section section-item combine-section hide-overlay semi-dark-background" id="testimonial-section">
        <div class="inner-container testimonial-section semi-dark-background" id="testimonial">
            <div class="container">
                <div class="row section-separator sp-bottom">

                    <!-- Start: Section Heading -->
                    <div class="section-header col-sm-10 col-sm-offset-1">
                        <div class="overflow">
                            <div class="line-outer">
                                <div class="line wow"></div>
                            </div>
                        </div>
                        <!--                            <div class="overflow">-->
                        <!--                                <div class="section-heading-outer m-b-15">-->
                        <!--                                    <p class="sub-heading wow">Testimonials</p>-->
                        <!--                                </div>-->
                        <!--                            </div>-->
                        <div class="overflow">
                            <div class="section-heading-outer p-l-50 p-r-50">
                                <h2 class="section-heading wow">新闻列表<h3>NewsList</h3></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End: Section Heading -->

                    <div class="clearfix"></div>

                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 overflow">
                        <div class="testimonial-container wow">
                            <div class="testimonial-wrapper pagination-style-1 owl-carousel" id="fatherDiv">
                                <!-- SLIDES -->
                                <div class="item">
                                    <div v-for="(item, index) in newsList" :key="index">
                                        <div class="overflow m-t-40">
                                            <div class="text-outer">
                                                <blockquote style="text-align: left">{{item.newsTitle}}
                                                </blockquote>
                                                <blockquote style="text-align: right">{{item.addTime}}
                                                </blockquote>
                                            </div>
                                        </div>
                                        <div class="overflow m-t-40 m-b-30">
                                            <div class="profile-outer">
                                                <span class="name" @click="lookNews(index)" style="cursor:pointer;">查看详情</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End: .swiper-wrapper -->
                        </div> <!-- End: .testimonials-container -->
                    </div>

                </div> <!-- End: .row -->
            </div> <!-- End: .container -->
        </div> <!-- End: .inner-container -->

    </div>

    <el-dialog title="新闻内容" :visible.sync="dialogVisible" width="60%">
        <div ref="firstDiv" id="firstDiv"></div>
    </el-dialog>
    <!--End: 4th Section
        - TESTIMONIAL PAGE
    ====================================-->

    <!-- SCRIPTS
    ========================================-->
</div>
</body>
<script src="./js/plagin-js/jquery-1.11.3.js"></script>
<script src="./js/plagin-js/preloader.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<script src="./js/plagin-js/plagin.js"></script>

<!-- Custom Script
==========================================-->
<script src="js/custom-scripts.js"></script>
<script>
    var vue1 = new Vue({
        el: '#app',
        data: function () {
            return {
                contextPath:'',
                urls:{
                    initNews: '/news/selectAllNews'
                },
                newsList: [{
                    newsTitle: '',
                    newsContent: '',
                    addTime: ''
                }],
                newsContent:'',
                dialogVisible: false,
            }
        },
        created: function () {
            var contextPath = document.location.pathname;
            var contextPath = contextPath.split('/')[1];
            var contextPath = "/" + contextPath;
            this.contextPath = contextPath;
            var self = this;
            var url = self.contextPath + self.urls.initNews;
            axios.post(url)
                .then(function(res){
                    self.newsList = res.data;
                });
        },
        filters: {},
        mounted: function () {
        },
        methods: {
            lookNews(index){
                this.dialogVisible = true;
                var oneDiv = document.createElement("div");
                oneDiv.innerHTML = this.newsList[index].newsContent;
                this.$nextTick(() => {
                    var firstDiv = this.$refs.firstDiv;
                    firstDiv.innerHTML = "";
                    firstDiv.append(oneDiv);
                })
                // var fatherDialog = document.getElementById("fatherDialog");
                // fatherDialog.appendChild(oneDiv);
                // var oneDialog = document.getElementsByClassName("el-dialog__wrapper");
                // var twoDialog = document.getElementsByClassName("el-dialog");
                // var threeDialog = document.getElementsByClassName("el-dialog__body");
                // threeDialog.appendChild(oneDiv);
                // twoDialog.appendChild(threeDialog);
                // oneDialog.appendChild(twoDialog);
                // this.newsContent = decodeHtml(this.newsList[index].newsContent);
            },
        },
        watch: {}
    });
</script>
</html>