<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- import Vue before Element -->
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>新闻列表</title>
</head>
<style>
    [v-cloak]{
        display: none;
    }
    .text {
        font-size: 14px;
    }
    .item {
        margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }
    .clearfix:after {
        clear: both
    }

    .box-card {
        width: 480px;
    }
</style>
<body>
<div id="app" v-cloak>
    <el-row>
        <el-col :span="6" :offset="1" v-for="(item, index) in newsList" :key="index">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>{{item.newsTitle}}</span>
                    <el-button @click="lookNews(index)" style="float: right; padding: 3px 0" type="text">查看</el-button>
                </div>
            </el-card>
        </el-col>
    </el-row>

    <el-dialog title="新闻内容"
            :visible.sync="dialogVisible"
            width="30%">
        <span>新闻内容</span>
        <div>{{newsContent}}</div>
  </span>
    </el-dialog>
</div>
</body>

<script>
    var vue1 = new Vue({
        el: '#app',
        data: function () {
            return {
                contextPath:'',
                urls:{
                    initNews: '/news/selectAllNews'
                },
                newsList: [{
                    newsTitle: '',
                    newsContent: '',
                    addTime: ''
                }],
                newsContent:'',
                dialogVisible: false,
            }
        },
        created: function () {
            var contextPath = document.location.pathname;
            var contextPath = contextPath.split('/')[1];
            var contextPath = "/" + contextPath;
            this.contextPath = contextPath;
            var self = this;
            var url = self.contextPath + self.urls.initNews;
            axios.post(url)
                .then(function(res){
                    self.newsList = res.data;
                });
        },
        filters: {},
        mounted: function () {
        },
        methods: {
            lookNews(index){
                this.dialogVisible = true;
                console.log(index);
                this.newsContent = this.newsList[index].newsContent;
            },
        },
        watch: {}
    });
</script>
</html>