<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- import Vue before Element -->
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>新闻发布</title>
</head>
<style>
    [v-cloak]{
        display: none;
    }
    .w-e-text-container{
        height: 700px !important;/*!important是重点，因为原div是行内样式设置的高度300px*/
    }
</style>
<body>
<span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>新闻发布
<hr>
<div style="text-align: center">
    新闻标题：<input type="text" name="newsTitle" id="newsTitle"/>
</div>
<br>
<div id="editor">

</div>
<hr>
<br>
<div id="app" v-cloak>
    <el-row>
        <el-col :span="2" :offset="9">
            <el-button style="display:block;margin:0 auto" type="primary" @click="submitForm">发布新闻</el-button>
        </el-col>
        <el-col :span="2" :offset="1">
            <el-button style="display:block;margin:0 auto" @click="backIndex">返回首页</el-button>
        </el-col>
    </el-row>
</div>
</body>
<!-- 富文本编辑器 ！！！-->
<script type="text/javascript" src="./js/wangEditor.js"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor') // 两个参数也可以传入 elem 对象，class 选择器
    // editor.customConfig.uploadImgShowBase64 = true // 使用 base64 保存图片
    // 配置服务器端地址
    editor.customConfig.uploadImgServer = '/img/upload'
    // 将图片大小限制为 3M
    editor.customConfig.uploadImgMaxSize = 3 * 1024 * 1024;
    // 隐藏“网络图片”tab
    editor.customConfig.showLinkImg = false
    // 自定义上传参数
    editor.customConfig.uploadFileName = 'imgFile'
    editor.customConfig.uploadImgHooks = {
        before : function(xhr, editor, files) {
            // 图片上传之前触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，files 是选择的图片文件

            // 如果返回的结果是 {prevent: true, msg: 'xxxx'} 则表示用户放弃上传
            // return {
            //     prevent: true,
            //     msg: '放弃上传'
            // }
        },
        success : function(xhr, editor, result) {
            // 图片上传并返回结果，图片插入成功之后触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        fail : function(xhr, editor, result) {
            // 图片上传并返回结果，但图片插入错误时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象，result 是服务器端返回的结果
        },
        error : function(xhr, editor) {
            // 图片上传出错时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        },
        timeout : function(xhr, editor) {
            // 图片上传超时时触发
            // xhr 是 XMLHttpRequst 对象，editor 是编辑器对象
        },

        // 如果服务器端返回的不是 {errno:0, data: [...]} 这种格式，可使用该配置
        // （但是，服务器端返回的必须是一个 JSON 格式字符串！！！否则会报错）
        customInsert : function(insertImg, result, editor) {
            // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
            // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

            // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
            var url = result.url
            insertImg(url)

            // result 必须是一个 JSON 格式字符串！！！否则报错
        }
    }
    //配置菜单
    editor.customConfig.menus = [
        'head',
        'bold',
        'fontSize',
        'fontName',
        'italic',
        'underline',
        'strikeThrough',
        'foreColor',
        'backColor',
        'link',
        'list',
        'justify',
        'emoticon',
        'image',
        'table',
        'undo',
        'redo',
    ]
    // 表情面板可以有多个 tab ，因此要配置成一个数组。数组每个元素代表一个 tab 的配置
    editor.customConfig.emotions = [
        {
            // tab 的标题
            title: '默认',
            // type -> 'emoji' / 'image'
            type: 'image',
            // content -> 数组
            content: [
                {
                    alt: '[坏笑]',
                    src: 'http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/50/pcmoren_huaixiao_org.png'
                },
                {
                    alt: '[舔屏]',
                    src: 'http://img.t.sinajs.cn/t4/appstyle/expression/ext/normal/40/pcmoren_tian_org.png'
                }
            ]
        },
        {
            // tab 的标题
            title: 'emoji',
            // type -> 'emoji' / 'image'
            type: 'emoji',
            // content -> 数组
            content: ['😀', '😃', '😄', '😁', '😆']
        }
    ]
    // 必须放到有关于编辑器设置前面
    editor.create()
</script>
<!--VUE的东西-->
<script>
    var vue1 = new Vue({
        el: '#app',
        data: function () {
            return {
                contextPath:'',
                urls:{
                    insertNews: '/news/insertNews',
                    updateNews: '/news/updateNews',
                    initNews: '/news/selectByPrimaryKey'
                },
                newsForm: {
                    id: '',
                    newsTitle: '',
                    newsContent: '',
                },
                suFlag: 'save'
            }
        },
        created: function () {
            var contextPath = document.location.pathname;
            var contextPath = contextPath.split('/')[1];
            var contextPath = "/" + contextPath;
            this.contextPath = contextPath;
            var self = this;

            var loc = location.href;//获取整个跳转地址内容，其实就是你传过来的整个地址字符串
            console.log("我的地址"+loc);
            var n1 = loc.length;//地址的总长
            var n2 = loc.indexOf("?");//取得=号的位置
            var parameter = decodeURI(loc.substr(n2+1, n1-n2));//截取从?号后面的内容,也就是参数列表，因为传过来的路径是加了码的，所以要解码
            var parameters  = parameter.split("&");//从&处拆分，返回字符串数组
            console.log("参数列表"+parameters);
            var paValue = new Array();//创建一个用于保存具体值得数组
            for (var i = 0; i < parameters.length; i++) {
                console.log("参数键值对值"+i+":"+parameters[i]);
                var m1 = parameters[i].length;//获得每个键值对的长度
                var m2 = parameters[i].indexOf("=");//获得每个键值对=号的位置
                var value = parameters[i].substr(m2+1, m1-m2);//获取每个键值对=号后面具体的值
                paValue[i] = value;
                var id =  value;
            }
            if(id == loc){
                self.suFlag = 'save';
                return
            }else{
                self.suFlag = 'update';
                self.newsForm.id = id;
                var url = self.urls.initNews + "?id=" + id;
                axios.get(url)
                    .then(function(res){
                        console.log(res.data);
                        var title = document.getElementById("newsTitle");
                        title.value = res.data.newsTitle;
                        editor.txt.html(res.data.newsContent);
                    });
            }
        },
        filters: {},
        mounted: function () {

        },
        methods: {
            backIndex(){
                window.location.href = "/editNews";
            },
            submitForm() {
                var self = this;
                this.newsForm.newsContent = editor.txt.html();
                if (this.newsForm.newsContent.length > 4000){
                    self.$message({
                        message: '新闻内容过长！',
                        type: 'warning'
                    });
                    return false;
                }
                this.newsForm.newsTitle = document.getElementById("newsTitle").value;
                if (this.newsForm.newsTitle == '' || this.newsForm.newsTitle == null){
                    self.$message({
                        message: '新闻标题不能为空！',
                        type: 'warning'
                    });
                    return false;
                }
                if (this.newsForm.newsTitle.length > 30){
                    self.$message({
                        message: '新闻标题长度不能超过30个字符！',
                        type: 'warning'
                    });
                    return false;
                }
                if (this.suFlag == 'save'){
                    var url = self.urls.insertNews;
                }else{
                    var url = self.urls.updateNews;
                    this.newsForm.newsTitle = document.getElementById("newsTitle").value;
                    this.newsForm.newsContent = editor.txt.html();
                }
                axios.post(url, self.newsForm)
                    .then(function(res){
                        console.log(res);
                        self.$message({
                            message: '新闻已发布成功，2秒后跳转到管理界面！',
                            type: 'success'
                        });
                        setTimeout("javascript:location.href='editNews'", 2000);
                    });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }

        },
        watch: {}
    });
</script>
</html>